API_URL=http://localhost:9990
APP_URL=https://localhost:8000
DEV_PORT=8000

# Push Notifications (VAPID Public Key)
# Generate using: npx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=BAr5v9Tr9cuD4ug2GIv2oLtoWvrrbdH0JI94FQfsd59d2QPLoDpmo0rAm0krgmrH7loCU7hlFxDWJV4UycK8L3s
